In [3]:
import requests
import re
import pandas as pd
import os

# Settings

In [4]:
start_date = "2022-09-01"
end_date = "2022-10-25"
sensor_ids = ["74650","67867"]
url_sc = 'https://archive.sensor.community'

# https://sensor.community/en/

# Get data

## Get the file names for all the sensors for the first date (this is slow...)

In [7]:
dates = pd.date_range(start_date,end_date,freq='d')

#date = dates[0]
#sensor_id = sensor_ids[0]

sensor_id_files = []

date = str(dates[0].date())
url = "/".join([url_sc,date])
r1 = requests.get(url)
data = r1.text
for sensor_id in sensor_ids:   
    try:
        start = re.escape(date)
        #start = re.escape(f'{sensor_id}.csv">')
        end   = re.escape(f'{sensor_id}.csv') 
        result = re.search('%s(.*)%s' % (start, end), data).group(0)
        result=result.split(">")[1]
        print(result)
        sensor_id_files.append(result)

        #url_csv = "/".join([url, result])        
        #df2 = pd.read_csv(url_csv, sep=";")
        #if type(df) == int:
        #    df = df2
        #else:
        #    df = pd.concat([df, df2])
    except:
        print(f"Something went wrong for {date} and sensor {sensor_id}")

2022-09-01_sds011_sensor_74650.csv
Something went wrong for 2022-09-01 and sensor 75285
2022-09-01_sds011_sensor_67867.csv

In [13]:
df = -1

for date in dates:
    date = str(date.date())
    
    url = "/".join([url_sc,date])
  
    for sensor_csv in sensor_id_files:  
        old_date = sensor_csv.split("_")[0]
        sensor_csv = sensor_csv.replace(old_date, date)
        
        try:    
            url_csv = "/".join([url, sensor_csv])
            
            df2 = pd.read_csv(url_csv, sep=";")
            if type(df) == int:
                df = df2
            else:
                df = pd.concat([df, df2], ignore_index=True)
        except:
            print(f"Something went wrong for {date} and sensor {sensor_csv}")

Something went wrong for 2022-10-04 and sensor 2022-10-04_sds011_sensor_74650.csv
Something went wrong for 2022-10-05 and sensor 2022-10-05_sds011_sensor_74650.csv
Something went wrong for 2022-10-06 and sensor 2022-10-06_sds011_sensor_74650.csv
Something went wrong for 2022-10-07 and sensor 2022-10-07_sds011_sensor_74650.csv
Something went wrong for 2022-10-08 and sensor 2022-10-08_sds011_sensor_74650.csv

In [14]:
df

,sensor_id,sensor_type,location,lat,lon,timestamp,P1,durP1,ratioP1,P2,durP2,ratioP2
0,74650,SDS011,63169,46.042,14.592,2022-09-01T00:04:32,4.45,NaN,NaN,2.28,NaN,NaN
1,74650,SDS011,63169,46.042,14.592,2022-09-01T00:07:00,5.18,NaN,NaN,3.33,NaN,NaN
2,74650,SDS011,63169,46.042,14.592,2022-09-01T00:09:25,5.85,NaN,NaN,3.13,NaN,NaN
3,74650,SDS011,63169,46.042,14.592,2022-09-01T00:11:52,5.95,NaN,NaN,4.10,NaN,NaN
4,74650,SDS011,63169,46.042,14.592,2022-09-01T00:14:19,5.28,NaN,NaN,2.63,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
49141,67867,SDS011,54672,46.096,14.470,2022-10-25T23:49:16,29.60,NaN,NaN,7.72,NaN,NaN
49142,67867,SDS011,54672,46.096,14.470,2022-10-25T23:51:41,35.90,NaN,NaN,7.47,NaN,NaN
49143,67867,SDS011,54672,46.096,14.470,2022-10-25T23:54:07,71.68,NaN,NaN,9.40,NaN,NaN
49144,67867,SDS011,54672,46.096,14.470,2022-10-25T23:56:33,20.30,NaN,NaN,7.18,NaN,NaN
49145,67867,SDS011,54672,46.096,14.470,2022-10-25T23:59:00,53.75,NaN,NaN,8.70,NaN,NaN

In [15]:
df.to_csv(os.path.join("data", "sc_export.csv"), index=False)

In [ ]:
"""
for sensor_id in sensor_ids:
    for date in dates:
        url_ok = url_deb + date
        r1 = requests.get(url_ok)
        source_code = r1.text

        for n2 in range(0,len(sensor_id)):
            test = 'sensor_'+str(sensor_id[n2])+'.csv'

            if test in source_code:
                split1 = source_code.split(test)[0]
                split2 = split1.split('<a href="')[-1]
                url_fin = url_ok + '/' + split2 + test
                r2 = requests.get(url_fin)
                data = r2.text
                #Les données vont s'afficher dans le terminal. 
                print(data)
"""